body {
  
    border-top-left-radius: 20px;
    border-radius: 30px;
}

h1{
    color: red;
}
/* Element selector */
.xyz{
    color: brown;
}
/* Id selector */
#abc{
    color: blue;
}
/*  Class Selector*/
.xyz {
    color: green;
    
}
/* group selector */
#abc, h2 {
          border-color: yellow;
          background-color: lightcyan;
      }
/* Universal selector */
* {
    border-style: groove;
}