*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
nav{
    width:100%;
    height:40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top:0%;
    word-spacing: space evenly;
    border-radius: 10px;
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  
}
body{
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(244, 241, 237);
}
nav>.nav1{
    border:none;
    height:100%;
    width:33%;
    display: flex;
    justify-content: center;

}
.nav1>p{
    display: flex;
    justify-content: center;
    align-items: center;

}
nav>.nav2{
    border:none;
    height:100%;
    width:33%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 8px;
}
.nav2>.middle{
    height:20px;
    width: auto;
    border:none;
}
nav>.nav3{
     border:none;
    height:100%;
    width:33%;
    display: flex;
    justify-content: center;
    padding: 8px;
}
.nav3>button{
     height: 20px;
     width:100px;
     background-color: blue;
     color:aliceblue;
     border-radius: 30px;
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.nav3>button:hover{
   background-color: aqua;
}
.container1{
    height:300px;
    width:100%;
    border:none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.container1>h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}
.container1>button{
    height:30px;
    width:150px;
    border-radius: 10px;
    color: white;
    background-color: rgb(94, 119, 94);
    border: none;
}
.container2{
    height:300px;
    width:100%;
    display: flex;
    justify-content: center;
   
}
.container2>.card2{
    height:100%;
    width:550px;
    background-color: white;
    border-radius: 20px;
    position: relative;
    bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card2>img{
    height: 95%;
    width:97%;
    border-radius: 20px;   
}
.container3{
    height:320px;
    width:100%;
    border:none;
   
}
.container3>.box3{
    height: 30%;
    width:100%;
    border:1px solid blue;
    
}
.container3>.boxx3{
    height: 70%;
    width:100%;
    border:1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    
}
.boxx3>.boox{
    height: 100%;
    width:32%;
  
    border:1px solid black;
}

.container4{
    height:320px;
    width:100%;
    border:1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.container4>.box4{
    height: 100%;
    width:50%;
    border:1px solid black;
    
}
.container5{
    height:320px;
    width:100%;
    border:1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.footer{
    height: 30px;
    width: 100%;
    border: 1px solid black;
    display: flex;
}
.footer>.footleft{
    height: 100%;
    width: 50%;
    border: 1px solid blue;

}
.footer>.footright{
    height: 100%;
    width: 50%;
    border: 1px solid red;
    
}