
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  background:wheat;
  margin:auto;
  padding-right: ;

}
.card{
  width: 100%;
  max-width: 380px;
  background:white;
  border-radius: 22px;
  padding: 36px 24px 28px;
  box-shadow: var(--shadow);
  
}

